.booth {
    float: left;
    width: 40%;
    height: auto;
    position: relative;
    padding-left: 1%;
    ;
}

.images {
    float: left;
    width: 40%;
    padding-left: 1%;
    
}

.stickers {
    background-color: blueviolet;
}

#place1 {
    background-color: dimgray;
}
#place2 {
    background-color: dimgray;
}
#place3 {
    background-color: dimgray;
}

#canvas {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#stick1 {
    width: 25%;
    position: absolute;
    top: 75%;
    left: 75%;
    z-index: 3;
    visibility: hidden;
}

#stick2 {
    width: 25%;
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 3;
    visibility: hidden;
}

#stick3 {
    width: 25%;
    position: absolute;
    top: 75%;
    left: 0;
    z-index: 3;
    visibility: hidden;
}
#upload {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#video {
    position: relative;
    top: 0;
    left: 0;
}
.picture {
    position: relative;
}
.cambuttons {
    padding-top: 1%;
    position: flex;
    flex-direction: row;
}